{% extends "base.html" %}
{% load crispy_forms_tags %}

<style>
table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
tr, td {
    padding: 15px;
    text-align: left;
}
table#t01 {
    width: 100%;
    background-color: #f1f1c1;

}
</style>

{% block content %}

<div class="row">
    <div class="col-sm-4">
        <h1 style="color: #f8666d;">Location Times</h1>
    </div>
    <div class="col-sm-4">

    </div></br>

    <div class="col-sm-4 pull-right">
    </div>
</div>
<hr>

<div class="row">
    
</div>

<hr>

{% endblock content %}