{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if request.user.is_authenticated  %}

{% if request.user.is_staff  %}

</br></br>

{% endif %}
<hr>
<div style="text-align: center;">
    <div style="text-align: center;" class="col-xs-6 col-xs-offset-3">

        <form action="" style="text-align: center;" method="post">{% csrf_token %}
            <h1>Are you sure you want to delete "{{ object }}"?</h1>
            <h1>Deleting this Deal will delete all records associated with the deal</h1>
            <input type="submit" class="btn btn-default btn-lg" style="color: white; background:#f8666d;" role="button" value="Delete" />
            <a href="{% url 'sociodeal_list' %}"><button type="button" style="color: white; background: #00afc6;" class="btn btn-default btn-lg">Cancel</button></a>
        </form>

    </div>
</div>

{% endif %}

{% endblock content %}